@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  height: 64px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
  color: black;
  text-decoration: none;
}

.links a:hover, .right-item a:hover, .fa-cart-shopping:hover, .fa-heart:hover, .fa-envelope:hover, .fa-phone-volume:hover {
    color: #FB4A00;
}

.links img, .fa-heart {
    margin: 0 20px;
}

.links .no-margin {
    margin: 0 0;
}

.links #loginButton {
  margin: 3px 10px 3px 20px;
}

.links i {
  color: #362e2c;
}

button.out-orange, button.orange:hover {
  background: none;
  border: none;
  box-shadow: inset 0 0 0 1.5px #FB4A00;
  color: #FB4A00;
  padding: 4px 24px;
  border-radius: 6px;
  font-size: 16px;
}

button.orange, button.out-orange:hover {
  background-color: #FB4A00;
  color: white;
  border: none;
  padding: 4px 24px;
  border-radius: 6px;
  font-size: 16px;
}

/* POPUP */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.popup h2 {
  text-align: center;
}

.popup a {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.show {
  display: block;
}

/* .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 412px;
  background: white;
  padding: 25px 30px 30px 25px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
}

.popup .email {
  margin-bottom: 18px;
}

.popup .password {
  margin-bottom: 12px;
}

.popup .remembernforgot {
  margin-bottom: 40px;
} */

/* END POPUP */

/* END HEADER */

/* SECTION HERO */

section#hero {
  position: relative;
  margin-bottom: -7px;
}

#bg-hero {
  width: 100%;
  height: auto;
}

.title-hero, .span-hero, button#catalog {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.title-hero {
  top: 74px;
  font-weight: 600;
  font-size: 60px;
  white-space: nowrap;
}

.span-hero {
  top: 129px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 19px;
}

button#catalog {
  top: 210px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  border: none;
  padding: 8px 28px;
  border-radius: 8px;
}

.fa-circle-play {
  margin-right: 10px;
  color: white;
}

/* END SECTION HERO */

/* SECTION QUOTES */

#quotes {
  background-color: #4D4D4D;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quotes .span-quotes {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: white;
}

/* END SECTION QUOTES */

/* SECTION SLIDER */

.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 10px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f44336 !important;
}

/* END SECTION SLIDER */

/* SECTION ADVANTAGE */

#advantage {
  background-color: #FB4A00;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#advantage > h1 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
  color: white;
  border: 1.5px solid white;
  border-radius: 35px;
  padding: 10px 50px;
}

#advantage > article {
  background-color: white;
  padding: 40px 180px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-advantage {
  margin-top: 30px;
  margin-left: 120px;
}

.point {
  margin-bottom: 20px;
}

.title-point {
  display: flex;
  align-items: center;
}

.title-point img {
  vertical-align: middle;
  margin-right: 10px; /* Adjust margin as needed */
}

.title-point span {
  font-weight: 500;
  font-size: 25px;
}

.desc-point {
  margin-left: 45px;
  opacity: 0.6;
}

/* END SECTION ADVANTAGE */

/* SECTION QUOTES-2 */

#quotes-2 {
  background-color: #848080;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quotes-2 .span-quotes {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: white;
}

/* END SECTION QUOTES-2 */

/* SECTION ABOUT */

#about {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about > h1 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
  color: #FB4A00;
  border: 1.5px solid #FB4A00;
  border-radius: 35px;
  padding: 10px 50px;
}

#about > article {
  padding: 0 120px 0 0;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 1.5px rgba(251, 74, 0, 0.45);
}

.title-about {
  display: flex;
  align-items: center;
}

.title-about img {
  vertical-align: middle;
}

.title-about span {
  margin-left: 20px;
  font-weight: 500;
  font-size: 25px;
}

.desc-about {
  margin-left: 55px;
  margin-right: 45px;
  opacity: 0.6;
  text-align: justify;
}

.order-button {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  box-shadow: inset 0 0 0 1.5px #FB4A00;
  color: #FB4A00;
  padding: 4px 24px;
  border-radius: 6px;
  font-size: 16px;
}

.order-button:hover {
  background-color: #FB4A00;
  color: white;
  border: none;
  padding: 4px 24px;
  border-radius: 6px;
  font-size: 16px;
}

.order {
  position: relative;
  text-align: center;
}

/* END SECTION ABOUT */

/* SECTION PAYMENT */

#payment {
  background-color: #EFEFEF;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#payment .span-payment {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: -5px;
}

#payment h3 {
  font-weight: 600;
}

#payment > article {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.virtual-acc {
  margin-right: 30px;
}

/* END SECTION PAYMENT */

/* FOOTER */

footer {
  background-color: black;
  padding: 56px 70px 25px 70px;
}

footer > .footer-item > .left > h4 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  width: 60%;
  margin-top: 10px;
}

.company-footer {
  font-size: 14px;
  font-weight: 400;
  color: white;
  opacity: 0.7;
  margin-top: 10px;
}

.title-footer {
  font-size: 14px;
  font-weight: 500;
  color: white;
  opacity: 0.8;
}

.fa-envelope, .fa-phone-volume {
  color: #cccccc;
}

.right {
  display: flex;
}

.right-item {
  margin-left: 50px;
}

.right-item a, .right-item span {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 12px;
}

.icon-footer {
  margin-top: -12px;
}

.right-item a {
  font-size: 12px;
  font-weight: 400;
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.right-item i {
  grid-column: 1;
  padding-top: 10px;
  padding-right: 5px;
}

hr {
  color: white;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > .socmed {
  text-decoration: none;
}

.copyright {
  margin-right: 1100px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  opacity: 0.7;
  margin-top: 10px;
}

/* END FOOTER */